@media(max-width:1000px){
   #img-boutique{
        width:1em;
        height: 1em;
    }
    .pub-boutique{
        width: 375px;
    }
    .str-boutique img {
        width:1em;
        height: 1em;
    }
    .str-boutique{
        width: 50px;
        margin-left:0;
    }
    .strong-produit_2{
        font-size: 10px;
    }
}
