@media (max-width:947px){
    .profil img{
        width: 1em;
        height: 1em;
    }
    .infos span {
        font-size: 12px;
    }
    .link {
        font-size: 12px;
    }
    .pub{
        margin: 10px 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .pub-produit{
        width: 280px;
    }
    .pub-stock .pub-boutique{
        width:330px;
    }
    .pub .pub-produit h4{
        font-size: 11px;
    }
    .pub-stock{
        width: 100%;
        display: grid;
        justify-content: center;
    }
    .pub .pub-produit .produit strong{
        font-size: 12px;
    }
    .aside .nav a {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        width: auto;
    }
    .post_form form {
        width: 320px;
    }
    .post_form form input{
        width: 280px;
    }
    .pub-stock .pub-boutique h4 {
        font-size: 11px;
    }
}