<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/erros_msg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_moid.css' %}">
    <title>PATTHY DESIGN/LOGIN</title>
</head>
<body>
    <nav class="nav-form">
        <nav class="nav-img">
           <div class="div-img">
            <img src="{% static 'img/LOGO.png' %}">
           </div>
            <form method='post'>

                {% csrf_token %}
                <h2> Se connecter  </h2> 
              <div class="div">
                <small class="small-login" >  En cas d'erreur, votre compte ne sera pas connecté </small>
              </div>
             <br>  <div class="div">
                <label title="nom d'utilisateur"> <img src="{% static 'img/icons8-compte-30 (1).png' %}"> </label> {{form.username}}</div>
                <div class="div">   <label title="mot de passe "> <img src="{% static 'img/icons8-mot-de-passe-50 (2).png' %}"> </label> {{form.password}}
               </div>
                <span class="btn" id="btn">
                    <button type="submit"> se connecter </button>
                </span>
                <a href="{% url 'request_reset_password' %}" class="forgot-pass">mot de passe oublié </a>
                <span class="signup">vous n'avez pas un compte ? <a href="{% url 'signup' %}">créer un compte</a></span>
                <div class="icones" >
                    <a href=""><img src="{% static 'img/icons8-instagram-50 (2).png' %}" alt=""></a>
                    <a href="https://www.facebook.com/profile.php?id=100067193216411"><img src="{% static 'img/icons8-facebook-nouveau-50 (2).png' %}" alt=""></a>
                    <a href="https://wa.me/+243 827 038 352"><img src="{% static 'img/icons8-whatsapp-30.png' %}" alt=""></a>
                    <a href="https://www.tiktok.com/@pathydesign4?_t=8sZi5HJzeKc&_r=1"><img src="{% static 'img/icons8-tiktok-24.png' %}" alt=""></a>
                    <a href="mailgo:pathybangbate@gmail.com"><img src="{% static 'img/icons8-nouveau-message-50 (1).png' %}" alt=""></a>
                    <a href="https://youtube.com/@pathydesign?si=Xxxvw4SN7_vENN6n" class="ytb"><img src="{% static 'img/icons8-youtube-50.png' %}" alt=""></a>
                   </div>
            </form>
        </nav>
    </nav>
  
</body>
</html>