<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signups.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/erros_msg.css' %}">
    <title>Mot de passe oublié</title>
</head>
<body>
    <nav class="nav-form">
        <nav class="nav-img">
           <div class="div-img">
            <img src="{% static 'img/LOGO.png' %}">
           </div>
            <form method='post'>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="{{message.tags}}">  {{ message }} </li>
                    {% endfor %}
                </ul>{% endif %}
                {% csrf_token %}
                <h2> Mot de passe oublié </h2>
                
                <div class="div">   <label title="mot de passe "> <img src="{% static 'img/icons8-mot-de-passe-50 (2).png' %}"> </label> <input type="password" id="password" name="password" placeholder="nouveau mot de passe">
                </div>
                <div class="div">   <label title="mot de passe "> <img src="{% static 'img/icons8-mot-de-passe-50 (2).png' %}"> </label>  <input type="password" id="password_confirm" name="password_confirm" placeholder="repeter nouveau mot de passe">
                </div>
                
                
                        <span class="btn">
                            <button type="submit"> sauvegarder</button>
                        </span>
             
                <div class="icones" >
                    <a href=""><img src="{% static 'img/icons8-instagram-50 (2).png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-facebook-nouveau-50 (2).png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-whatsapp-30.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-tiktok-24.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-nouveau-message-50 (1).png' %}" alt=""></a>
                    <a href="" class="ytb"><img src="{% static 'img/icons8-youtube-50.png' %}" alt=""></a>
                   </div>
            </form>
        </nav>
    </nav>
   <script>
      document.addEventListener("DOMContentLoaded", function(){
            const invalideInputs = document.querySelectorAll('.is-invalid')
            invalideInputs.forEach(input => {
                input.addEventListener('mouseover', function() {
                    const tooltip = this.nextElementSibling 
                    tooltip.style.display = 'block'
                })
                input.addEventListener('mouseout', function(){
                    const tooltip = this.nextElementSibling
                    tooltip.style.display = 'none'
                })
            })
        })
   </script>
</body>
</html>