<!DOCTYPE html>{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ctg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reservation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/txt.css' %}">
    <title>PATHY DESIGN/RESERVATION</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/LOGO.png' %}">
            <h1> Pathy <span> design </span> </h1>
        </div>
        
        </div>
        <div class="menu">
            <a href="{% url 'home' %}" class=""><img src="{% static 'img/icons8-home-48.png' %}" alt=""></a>
            <a href="{% url 'reservation_form' %}"><img src="{% static 'img/icons8-réservation-64.png' %}" alt=""></a>
            <a href="{% url  'profile' %}"><img src="{% static 'img/icons8-compte-50 (5).png' %}" alt=""></a>
        </div>
    </header>
   
    <div class="post_form ">
        <form method="post">
            <h3> Faites une réservation </h3>
            <span>  Remplisser le formulaire judicieusement, choisissez une date, le service que vous voulez et rajouter des informations supplémentaires dans la bio, numéro, exigences , moyen de paiement et autres </span>
            {% csrf_token %}
           
            <div class="form-div">
                <label> Date </label> {{form.date}}
            </div>
            <div class="form-div">
                <label> service </label> {{form.service}}
            </div>
            <div class="form-div">
                <label>bio</label>
                {{form.bio}} </div>
            <div class="button">
                <button type="submit">sauvegarder </button>
            </div>
        </form>
    
    </div>

<script src="{% static 'js/home.js' %}"></script>
</body>
</html>