<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signups.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/erros_msg.css' %}">
    <title>Mot de passe oublié</title>
</head>
<body>
    <nav class="nav-form">
        <nav class="nav-img">
           <div class="div-img">
            <img src="{% static 'img/LOGO.png' %}">
           </div>
            <form method='post'>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="{{message.tags}}">  {{ message }} </li>
                    {% endfor %}
                </ul>{% endif %}
                {% csrf_token %}
                <h2> Metter le code  </h2>
                <div class="div" style="display:none;"> <label class="{% if form.email.errors %} is-invalid{% endif %}" for="" title="taper votre email valide"><img src="{% static 'img/icons8-nouveau-message-50 (1).png' %}" alt="" style="margin-right:0.3em">  </label> <input id="email" type="email" name="email" value="{{ request.session.reset_email }}" placeholder="ecrivez votre email valide " readonly>  </div>
               
                <div class="div"> <label class="{% if form.email.errors %} is-invalid{% endif %}" for="" title="taper votre email valide"><img src="{% static 'img/icons8-nouveau-message-50 (1).png' %}" alt="" style="margin-right:0.3em">  </label> <input id="code" name="code" placeholder="ecrivez votre email valide ">  
               
            </div>
                
                
                        <span class="btn">
                            <button type="submit"> soumettre </button>
                        </span>
                <span class="signup">vous avez déjà un compte ? <a href="{% url 'login' %}">se connecter</a></span>
                <div class="icones" >
                    <a href=""><img src="{% static 'img/icons8-instagram-50 (2).png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-facebook-nouveau-50 (2).png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-whatsapp-30.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-tiktok-24.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/icons8-nouveau-message-50 (1).png' %}" alt=""></a>
                    <a href="" class="ytb"><img src="{% static 'img/icons8-youtube-50.png' %}" alt=""></a>
                   </div>
            </form>
        </nav>
    </nav>
   <script>
      document.addEventListener("DOMContentLoaded", function(){
            const invalideInputs = document.querySelectorAll('.is-invalid')
            invalideInputs.forEach(input => {
                input.addEventListener('mouseover', function() {
                    const tooltip = this.nextElementSibling 
                    tooltip.style.display = 'block'
                })
                input.addEventListener('mouseout', function(){
                    const tooltip = this.nextElementSibling
                    tooltip.style.display = 'none'
                })
            })
        })
   </script>
</body>
</html>